.imag {width: 950px;
     heigh: 100px;    

}
  


.text{
	font: small-caps 450%/300% cursive;
	color: #070707;
}

.im{ width: 660px;
     heigh: 800px; 
}

.p{ width: 660px;
     heigh: 800px; 
     
}


.img { width: 1000px;
     heigh: 600px; 
   
}





}

.k{
     font: small-caps 350%/300% cursive;


}

.h4 {

	font-family: cursive;
}


.h2{
	color:  #690A76 ;
	font: small-caps 350%/300% cursive;
}


.h3{
	color: #2A212C ;
	font-family:400%/350% monospace;
}


