.p2 { width: 1300px; height: 400px;}
.p1{font: oblique bold 200% cursive;color: black;}

.p4{width: 400px; height: 200px; }
.p3{width: 400px; height: 200px; }
.p5{width: 400px; height: 200px; }
.p6{width: 400px; height: 200px; }










