.m1{
  width: 1000px;
    height: 400px;
}
.m2{
  width: 400px;
  height: 200px;
}
.m3{
  width: 400px;
  height: 200px;
}
.m4{
  width: 400px;
  height: 200px;
}
.m5{
  width: 400px;
  height: 200px;
}
.m6{
  width: 400px;
  height: 200px;
}
.m7{
  width: 400px;
  height: 200px;
}
.m8{
  width: 400px;
  height: 200px;
}
.m9{
  width: 400px;
  height: 200px;
}
.m10{
  width: 400px;
  height: 200px;
}
.Btn{
  color: red;
  width: 150px;
  height: 80px;
}