.p2 { width: 1200px; height: 500px;}
.p1{font: oblique bold 300% cursive;color: black;}

.p4{width: 700px; height: 300px; }
.p3{width: 700px; height: 300px; }
.p5{width: 700px; height: 300px; }
.p6{width: 700px; height: 300px; }